In [4]:
from pathlib import Path
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
from pathlib import Path
import os

notebook_dir = Path().resolve()
cwd_ = os.path.dirname(notebook_dir)
print(cwd_)
# Replace with your actual credentials

try:
    # Step 1: Load environment variables from .env file
    load_dotenv(dotenv_path = cwd_ + '/.env')
    # Step 2: Get the connection parameters from the environment
    db_name = os.getenv("DB_NAME")
    db_user = os.getenv("DB_USER")
    db_password = os.getenv("DB_PASSWORD")
    db_host = os.getenv("DB_HOST")
    db_port = os.getenv("DB_PORT")
    engine = create_engine(f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")
    #Read a dbt model
    df_fact_order = pd.read_sql("SELECT * FROM opts_hub.fact_order", engine)
    df_satellite_orders = pd.read_sql("SELECT * FROM staging.satellite_orders", engine)
    print(len(df_fact_oder),len(df_satellite_orders))
except Exception as e:
    print(e)

C:\Users\Ekta Sharma\Ekta\project\Ecommerce
4 6883

In [5]:
df_fact_order

,fact_order_id,dim_user_id,dim_product_id,order_id,order_number,order_created_at,order_dow,order_hour_of_day,days_since_prior_order,product_name,department,load_timestamp
0,21,130749,24897,2078,20,2025-06-08 19:18:05.575458,1,22,28.0,Organic Romaine,produce,2025-06-14 20:53:39.293041+00:00
1,22,130749,43785,2078,20,2025-06-08 19:18:05.575458,1,22,28.0,Cherubs Heavenly Salad Tomatoes,produce,2025-06-14 20:53:39.293041+00:00
2,23,82558,47938,13398,9,2025-06-08 19:18:05.690112,0,18,14.0,Unsweetened Terere Yerba Mate,beverages,2025-06-14 20:53:39.293041+00:00
3,24,10927,14275,589,3,2025-06-08 19:18:05.729758,1,15,6.0,Natural Artesian Water,beverages,2025-06-14 20:53:39.293041+00:00

In [6]:
df_satellite_orders

,order_hkey,order_number,order_dow,order_hour_of_day,days_since_prior_order,created_at,updated_at,load_timestamp,hashdiff
0,7d6ab1b224e9a086b73e7c8783c33304,30,5,9,7.0,2025-06-08 13:52:44.695168,None,2025-06-11 18:40:44.604189+00:00,49f9ebbe2a110a48c494f76eb10e25f6
1,e3da7a36364f8869b8d90b22b8d02dc4,3,0,16,22.0,2025-06-08 19:08:25.106194,None,2025-06-11 18:40:44.604189+00:00,44ceea0d59be751aa88da4648c1f42f2
2,33a102187e54115c742737b306fc07d6,22,3,15,3.0,2025-06-08 19:08:25.106194,None,2025-06-11 18:40:44.604189+00:00,47dfdc2d714e9650b902638c812b9263
3,3f278baaa93dca5ac7fad45f84a1c3fb,56,5,10,5.0,2025-06-08 19:10:07.037698,None,2025-06-11 18:40:44.604189+00:00,7dfe751f99913cc9d22f4bfbd3f7017e
4,bdcc17507424c2f76d14f6c38eacd773,19,0,10,30.0,2025-06-08 19:10:07.037698,None,2025-06-11 18:40:44.604189+00:00,ba501d0b015cc3a2804ec02f3ad7b4c2
...,...,...,...,...,...,...,...,...,...
6878,c3d03f0f9f26e677d19b27e645def6c2,2,4,22,6.0,2025-06-15 02:19:40.116073,None,2025-06-14 20:53:33.120856+00:00,dc97ef6212b7bd78c1c245518c75802c
6879,14033f2bb317a496e07308dd7e6380ad,5,0,21,30.0,2025-06-15 02:19:40.116073,None,2025-06-14 20:53:33.120856+00:00,9037df54b112ff9df42d49ab655be64e
6880,f36c91378399d718bc009b7cb0f2d2f1,37,1,9,7.0,2025-06-15 02:19:40.116073,None,2025-06-14 20:53:33.120856+00:00,708a61344af36ced88a750a23f9ff720
6881,5feef974764de18e5d9f222ad046be87,2,0,12,7.0,2025-06-15 02:19:40.116073,None,2025-06-14 20:53:33.120856+00:00,eade4eb970d51cab12c01d86219b6031
6882,fb49200605ff3124752c208eb8c0f748,5,6,19,30.0,2025-06-15 02:19:40.116073,None,2025-06-14 20:53:33.120856+00:00,0bdf73e4a621ce5fa740fac5d57794c6